* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: white;
    background-color: #1b1b32;
    font-family: Lato, sans-serif;
    margin-top: 40px;
}

h1 {
    color: #1b1b32;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/*Lista de Treas*/

.tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}


/*Media Queries*/

@media only screen and (max-width:768px) {
    .tarea-contenedor {
        width: 95%;
        height: 100%;
        font-size: 20px;
        color: rgb(16, 253, 16);
        display: flex;
        align-items: center;
        overflow-wrap: anywhere;
    }
    .tarea-input {
        width: 60%;
    }
}

@media only screen and (max-width:480px) {
    /*Lista de Treas*/
    .tareas-lista-principal {
        padding: 15px 2px;
    }
}